@model TechMovePrototype.Models.Client

<h2>Client Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.ContactEmail</dd>

            <dt class="col-sm-3">Phone</dt>
            <dd class="col-sm-9">@Model.ContactPhone</dd>

            <dt class="col-sm-3">Region</dt>
            <dd class="col-sm-9">@Model.Region</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>